<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.imdc.newp"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".VideoTranscript"
            android:label="@string/title_activity_video_transcript"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CameraApi"
            android:label="@string/app_name1"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".CurateVideo"
            android:label="Curate video information (OPTIONAL)" />
        <activity android:name=".MyVitalsActivity" />
        <activity android:name=".shareCircleActivity" />
        <activity android:name=".addContactActivity" />
        <activity android:name=".WordCloudActivity" />
        <activity android:name=".dataNavigationActivity" />
        <activity android:name=".SummaryActivity" />
        <activity android:name=".viewVideo" />
        <activity android:name=".GraphActivity" />
        <activity android:name=".FaceTrackerActivity" />
        <activity android:name=".ActivitySplash" />
        <activity android:name=".AnnotationActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".VideoPlay" />
        <activity android:name=".BarGraphActivity" /> <!-- FileProvider - a ContentProvider for making the image file securely available to the other end -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ca.imdc.newp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>